In [1]:
import pandas as pd
import mysql.connector
import os
#import json
import datetime

In [ ]:
with open("/home/kali/project/input_config.txt") as f:
    input_file=f.readline()
print("will process:",input_file)

In [3]:
meta_data=[]
log_call=[]
lines=[]
with open(input_file,encoding="utf-16") as f:
    lines=f.readlines()
meta_data=lines[0:5]
log_call=lines[6:]

In [4]:
course = meta_data[2].replace("Titre de la réunion\t","").replace("\n","")
course

'General'

In [5]:
with open(f"/home/kali/project/output/log_{input_file.split('/')[-1]}","w") as f:
    for value in log_call:
        f.write(value)
    f.close()
df_log = pd.read_csv(f"/home/kali/project/output/log_{input_file.split('/')[-1]}",sep="\t")
df_log

,Nom complet,Heure d'arrivée,Heure de départ,Durée,E-mail,Rôle
0,Imade BENELALLAM,06/04/2021 à 14:05:42,06/04/2021 à 16:04:32,1 h 58 m,i.benelallam@insea.ac.ma,Organisateur
1,Salah Eddine AOUARI,06/04/2021 à 14:05:52,06/04/2021 à 16:04:43,1 h 58 m,seaouari@insea.ac.ma,Présentateur
2,Chaimaa BELKARKOR,06/04/2021 à 14:05:57,06/04/2021 à 16:04:43,1 h 58 m,cbelkarkor@insea.ac.ma,Présentateur
3,Ibtihal MOURAD,06/04/2021 à 14:06:08,06/04/2021 à 16:28:17,2 h 22 m,imourad@insea.ac.ma,Présentateur
4,Akram EL FADILI,06/04/2021 à 14:06:13,06/04/2021 à 16:02:20,1 h 56 m,aelfadili@insea.ac.ma,Présentateur
...,...,...,...,...,...,...
68,Niima CHIGR,06/04/2021 à 14:58:03,06/04/2021 à 15:48:12,50 m 9 s,nchigr@insea.ac.ma,Présentateur
69,Yassine ZOUHRI,06/04/2021 à 15:16:55,06/04/2021 à 15:48:30,31 m 35 s,yzouhri@insea.ac.ma,Présentateur
70,Yassine ZOUHRI,06/04/2021 à 15:50:42,06/04/2021 à 16:04:51,14 m 8 s,yzouhri@insea.ac.ma,Présentateur
71,Oussama YOUSR,06/04/2021 à 15:19:22,06/04/2021 à 16:04:49,45 m 26 s,oyousr@insea.ac.ma,Présentateur
72,Hamza LAGRAMEZ,06/04/2021 à 16:23:48,06/04/2021 à 16:24:00,12 s,hlagramez@insea.ac.ma,Présentateur

In [6]:
start_str = meta_data[3].replace("Heure de début de la réunion\t","").replace("\n","").replace(" à","")
end_str   = meta_data[4].replace("Heure de fin\t","").replace("\n","").replace(" à","")
start_course = datetime.datetime.strptime(start_str, '%d/%m/%Y %H:%M:%S')
end_course = datetime.datetime.strptime(end_str, '%d/%m/%Y %H:%M:%S')

In [7]:
df_ds = pd.read_excel("/home/kali/project/lists_excel/Liste des 2èmes années DS.xlsx")
#df_dse = pd.read_excel("/home/kali/notebook/project2/lists_excel/Liste 2A DSE.xlsx")

In [ ]:
mydb = mysql.connector.connect(database="airflow_db", user="db_kali", password="123456789", host="localhost")

In [ ]:
#mycursor = mydb.cursor()
#table="fact_table"
#mycursor.execute(f"SELECT * FROM information_schema.columns WHERE table_schema = 'biabsence' AND table_name   = '{table}' ;")
#myresult = mycursor.fetchall()
#for value in myresult:
#    print(value[3],":",value[7])

In [8]:
def add_student(name,gender,email,course,major):
    mydb = mysql.connector.connect(database="airflow_db", user="db_kali", password="123456789", host="localhost") 
    mycursor = mydb.cursor()
    sql1 = "SELECT * FROM students where email = %s;"
    vals1 = (email,)
    mycursor.execute(sql1, vals1)
    myresult = mycursor.fetchall()
    if len(myresult) != 0:
        return myresult[0][0]
    if len(myresult) == 0:
        sql = "INSERT INTO students (name,gender,email,course,major) VALUES (%s,%s,%s,%s,%s);"
        val = (name,gender,email,course,major)
        mycursor.execute(sql, val)
        mydb.commit()
        # print(mycursor.rowcount, "record inserted.")
        sql3 = "SELECT * FROM students where email = %s;"
        vals3 = (email,)
        mycursor.execute(sql3, vals3)
        myresult = mycursor.fetchall()
        return myresult[0][0]
    
def add_professor(name,email):
    mydb = mysql.connector.connect(database="airflow_db", user="db_kali", password="123456789", host="localhost") 
    mycursor = mydb.cursor()
    sql1 = "SELECT * FROM professors where email = %s;"
    vals1 = (email, )
    mycursor.execute(sql1, vals1)
    myresult = mycursor.fetchall()
    if len(myresult) != 0:
        return myresult[0][0]
    if len(myresult) == 0:
        sql = "INSERT INTO professors (name,email) VALUES (%s,%s);"
        val = (name,email,)
        mycursor.execute(sql, val)
        mydb.commit()
        # print(mycursor.rowcount, "record inserted.")
        sql3 = "SELECT * FROM professors where email = %s;"
        vals3 = (email, )
        mycursor.execute(sql1, vals1)
        myresult = mycursor.fetchall()
        return myresult[0][0]
    
def add_time(hour,day,month,year,date):
    mydb = mysql.connector.connect(database="airflow_db", user="db_kali", password="123456789", host="localhost")
    mycursor = mydb.cursor()
    sql1 = "SELECT * FROM time WHERE year = %s and month=%s and day=%s and hour=%s;"
    vals1 = (year, month, day, hour, )
    mycursor.execute(sql1, vals1)
    myresult = mycursor.fetchall()
    if len(myresult) != 0:
        return myresult[0][0]
    if len(myresult) == 0:
        sql = "INSERT INTO time (hour,day,month,year,date) VALUES (%s,%s,%s,%s,%s);"
        val = (hour,day,month,year,date)
        mycursor.execute(sql, val)
        mydb.commit()
        # print(mycursor.rowcount, "record inserted.")
        sql3 = "SELECT * FROM time WHERE year = %s and month=%s and day=%s and hour=%s;"
        vals3 = (year, month, day, hour, )
        mycursor.execute(sql3, vals3)
        myresult = mycursor.fetchall()
        return myresult[0][0]

In [9]:
hour = start_course.hour
day  = start_course.day
month= start_course.month
year = start_course.year
date = start_course.strftime("%Y-%m-%d %H:%M:%S")
id_time=add_time(hour,day,month,year,date)
id_time

2

In [10]:
#ADD DS TO STUDENTS TABLE
for index, row in df_ds.iterrows():
    major="DS"
    name,gender,email,course,major = row["Nom"],None,row["email"],course,major
    id_student=add_student(name,gender,email,course,major)
    print("student:",id_student)

student: 65
student: 66
student: 67
student: 68
student: 69
student: 70
student: 71
student: 72
student: 73
student: 74
student: 75
student: 76
student: 77
student: 78
student: 79
student: 80
student: 81
student: 82
student: 83
student: 84
student: 85
student: 86
student: 87
student: 88
student: 89
student: 90
student: 91
student: 92
student: 93
student: 94
student: 95
student: 96

In [11]:
#ADD STUDENTS FROM LOG TO TABLE
for index, row in df_log.iterrows():
    if row["Rôle"]!="Organisateur":
        result = df_ds[df_ds["email"]==row["E-mail"]]
        if(len(result) > 0):
            major="DS"
        else:
            major="DSE"
        name,gender,email,course,major = row["Nom complet"],None,row["E-mail"],course,major
        id_student=add_student(name,gender,email,course,major)
        print("student:",id_student)
    else:
        name,email = row["Nom complet"],row["E-mail"]
        id_prof = add_professor(name,email)
        print("professor:",id_prof)

professor: 4
student: 97
student: 75
student: 81
student: 98
student: 99
student: 100
student: 66
student: 101
student: 102
student: 103
student: 71
student: 76
student: 104
student: 92
student: 92
student: 105
student: 82
student: 106
student: 107
student: 86
student: 85
student: 85
student: 108
student: 67
student: 67
student: 109
student: 109
student: 110
student: 111
student: 88
student: 112
student: 113
student: 114
student: 115
student: 116
student: 95
student: 90
student: 90
student: 117
student: 118
student: 119
student: 87
student: 87
student: 68
student: 68
student: 68
student: 68
student: 68
student: 68
student: 93
student: 93
student: 93
student: 93
student: 93
student: 93
student: 120
student: 120
student: 121
student: 122
student: 123
student: 123
student: 124
student: 124
student: 125
student: 78
student: 78
student: 72
student: 126
student: 127
student: 127
student: 128
student: 80

In [12]:
groups = df_log.groupby("E-mail")

In [13]:
mydb = mysql.connector.connect(database="airflow_db", user="db_kali", password="123456789", host="localhost")
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM students")
myresult = mycursor.fetchall()
emails=[]
for result in myresult:
    emails.append(result[3])

In [14]:
print("\n".join(emails))

amenani@insea.ac.ma
amsanoussilabo@insea.ac.ma
aezzouine@insea.ac.ma
aajarray@insea.ac.ma
acheddad@insea.ac.ma
aelomairi@insea.ac.ma
asinare@insea.ac.ma
aoussar@insea.ac.ma
ahamdi@insea.ac.ma
aelhadine@insea.ac.ma
cbelkarkor@insea.ac.ma
cbenallalhassani@insea.ac.ma
hchafai@insea.ac.ma
hhoumane@insea.ac.ma
hdah@insea.ac.ma
hlagramez@insea.ac.ma
imourad@insea.ac.ma
ikonkobo@insea.ac.ma
ibelmezouar@insea.ac.ma
kbensatti@insea.ac.ma
yakhallouq@insea.ac.ma
mamallah@insea.ac.ma
magouram@insea.ac.ma
msidibe@insea.ac.ma
nchahboun@insea.ac.ma
rouhmiz@insea.ac.ma
selhairech@insea.ac.ma
sdaouaji@insea.ac.ma
tmajjati@insea.ac.ma
yelhilali@insea.ac.ma
yamaghoss@insea.ac.ma
ysadki@insea.ac.ma
seaouari@insea.ac.ma
aelfadili@insea.ac.ma
abalij@insea.ac.ma
hbounar@insea.ac.ma
cbouzouf@insea.ac.ma
hboudinar@insea.ac.ma
hmehdioui@insea.ac.ma
amamansouley@insea.ac.ma
ohabiballah@insea.ac.ma
helouafi@insea.ac.ma
sboukili@insea.ac.ma
aoubaha@insea.ac.ma
esoummer@insea.ac.ma
olaabadia@insea.ac.ma
aelbahji@insea.ac.ma
mafarfaoua@insea.ac.ma
ooucouc@insea.ac.ma
fbanah@insea.ac.ma
msangare@insea.ac.ma
aelkassmi@insea.ac.ma
catraoui@insea.ac.ma
aramoudi@insea.ac.ma
zjaafari@insea.ac.ma
yaitmalek@insea.ac.ma
yfadoul@insea.ac.ma
szarrouq@insea.ac.ma
kkajja@insea.ac.ma
ymouzaki@insea.ac.ma
selkhyati@insea.ac.ma
nchigr@insea.ac.ma
yzouhri@insea.ac.ma
oyousr@insea.ac.ma

In [16]:

for email in emails:
    name,gender,email,course,major = None,None,email,course,None
    id_student=add_student(name,gender,email,course,major)
    try:
        data = groups.get_group(email).reset_index()
        nb_abs = 0
        #DURATION
        duration=0
        got_first_start=False
        for index, row in data.iterrows():
            start_str = row["Heure d'arrivée"].replace(" à","")
            end_str   = row["Heure de départ"].replace(" à","")
            start = datetime.datetime.strptime(start_str, '%d/%m/%Y %H:%M:%S')
            end = datetime.datetime.strptime(end_str, '%d/%m/%Y %H:%M:%S')
            duration = duration + ((end-start).total_seconds() / 60.0)
            if not got_first_start:
                got_first_start = True
                first_start = start
        if duration > 120:
            duration=120
        #NB LATES  
        if ((first_start-start_course).total_seconds() / 60.0) > 15:
            nb_lates = 1
        else:
            nb_lates = 0
        
        nb_pres = 1
        
        #ABS DURATION
        abs_duration = 120-duration
        
        #DURATION IN INTEGER IN DB!
        duration = int(duration)
        
        #is student
        print("student:",id_student)
        if duration <= 15:
            nb_abs = 1
            nb_lates=0
            nb_pres=0
    
    except KeyError as e:
        print("not found",e)
        nb_abs = 1
        abs_duration = 120
        nb_lates=0
        nb_pres=0
        duration=0
    #insert to data mart now
    try:
        mydb = mysql.connector.connect(database="airflow_db", user="db_kali", password="123456789", host="localhost")
        mycursor = mydb.cursor()
        sql = "INSERT INTO fact_table (id_time,id_prof,id_student,nb_abs,abs_duration,nb_lates,nb_pres,duration) VALUES (%s,%s,%s,%s,%s,%s,%s,%s);"
        val = (id_time,id_prof,id_student,nb_abs,abs_duration,nb_lates,nb_pres,duration)
        mycursor.execute(sql, val)
        mydb.commit()
    except :
        continue

not found 'amenani@insea.ac.ma'
(2, 4, 65, 1, 120, 0, 0, 0)
student: 66
(2, 4, 66, 0, 2.049999999999997, 0, 1, 117)
not found 'aezzouine@insea.ac.ma '
(2, 4, 67, 1, 120, 0, 0, 0)
student: 68
(2, 4, 68, 0, 42.016666666666666, 0, 1, 77)
not found 'acheddad@insea.ac.ma'
(2, 4, 69, 1, 120, 0, 0, 0)
not found 'aelomairi@insea.ac.ma'
(2, 4, 70, 1, 120, 0, 0, 0)
student: 71
(2, 4, 71, 0, 2.316666666666663, 0, 1, 117)
student: 72
(2, 4, 72, 0, 13.716666666666669, 1, 1, 106)
not found 'ahamdi@insea.ac.ma'
(2, 4, 73, 1, 120, 0, 0, 0)
not found 'aelhadine@insea.ac.ma'
(2, 4, 74, 1, 120, 0, 0, 0)
student: 75
(2, 4, 75, 0, 1.2333333333333343, 0, 1, 118)
student: 76
(2, 4, 76, 0, 3.3499999999999943, 0, 1, 116)
not found 'hchafai@insea.ac.ma'
(2, 4, 77, 1, 120, 0, 0, 0)
student: 78
(2, 4, 78, 1, 116.61666666666666, 0, 0, 3)
not found 'hdah@insea.ac.ma'
(2, 4, 79, 1, 120, 0, 0, 0)
student: 80
(2, 4, 80, 1, 119.8, 0, 0, 0)
student: 81
(2, 4, 81, 0, 0, 0, 1, 120)
student: 82
(2, 4, 82, 0, 103.0, 0, 1, 17)
not found 'ibelmezouar@insea.ac.ma'
(2, 4, 83, 1, 120, 0, 0, 0)
not found 'kbensatti@insea.ac.ma'
(2, 4, 84, 1, 120, 0, 0, 0)
student: 85
(2, 4, 85, 1, 117.33333333333333, 0, 0, 2)
student: 86
(2, 4, 86, 0, 5.816666666666663, 0, 1, 114)
student: 87
(2, 4, 87, 0, 23.433333333333337, 0, 1, 96)
student: 88
(2, 4, 88, 0, 8.716666666666669, 0, 1, 111)
not found 'nchahboun@insea.ac.ma'
(2, 4, 89, 1, 120, 0, 0, 0)
student: 90
(2, 4, 90, 0, 48.78333333333333, 0, 1, 71)
not found 'selhairech@insea.ac.ma'
(2, 4, 91, 1, 120, 0, 0, 0)
student: 92
(2, 4, 92, 0, 24.016666666666666, 0, 1, 95)
student: 93
(2, 4, 93, 0, 67.9, 0, 1, 52)
not found 'yelhilali@insea.ac.ma'
(2, 4, 94, 1, 120, 0, 0, 0)
student: 95
(2, 4, 95, 0, 25.349999999999994, 0, 1, 94)
not found 'ysadki@insea.ac.ma'
(2, 4, 96, 1, 120, 0, 0, 0)
student: 97
(2, 4, 97, 0, 1.1500000000000057, 0, 1, 118)
student: 98
(2, 4, 98, 0, 3.88333333333334, 0, 1, 116)
student: 99
(2, 4, 99, 0, 1.38333333333334, 0, 1, 118)
student: 100
(2, 4, 100, 0, 2.049999999999997, 0, 1, 117)
student: 101
(2, 4, 101, 0, 2.066666666666663, 0, 1, 117)
student: 102
(2, 4, 102, 0, 2.316666666666663, 0, 1, 117)
student: 103
(2, 4, 103, 0, 2.4166666666666714, 0, 1, 117)
student: 104
(2, 4, 104, 0, 0, 0, 1, 120)
student: 105
(2, 4, 105, 0, 4.599999999999994, 0, 1, 115)
student: 106
(2, 4, 106, 1, 119.6, 0, 0, 0)
student: 107
(2, 4, 107, 0, 5.266666666666666, 0, 1, 114)
student: 108
(2, 4, 108, 0, 6.083333333333329, 0, 1, 113)
student: 109
(2, 4, 109, 1, 117.18333333333334, 0, 0, 2)
student: 110
(2, 4, 110, 0, 6.549999999999997, 0, 1, 113)
student: 111
(2, 4, 111, 0, 5.416666666666671, 0, 1, 114)
student: 112
(2, 4, 112, 0, 7.816666666666663, 0, 1, 112)
student: 113
(2, 4, 113, 0, 8.683333333333337, 0, 1, 111)
student: 114
(2, 4, 114, 0, 9.099999999999994, 0, 1, 110)
student: 115
(2, 4, 115, 0, 9.216666666666669, 0, 1, 110)
student: 116
(2, 4, 116, 0, 13.933333333333337, 0, 1, 106)
student: 117
(2, 4, 117, 0, 13.766666666666666, 0, 1, 106)
student: 118
(2, 4, 118, 0, 12.833333333333329, 0, 1, 107)
student: 119
(2, 4, 119, 0, 14.566666666666663, 0, 1, 105)
student: 120
(2, 4, 120, 1, 116.83333333333333, 0, 0, 3)
student: 121
(2, 4, 121, 0, 18.61666666666666, 1, 1, 101)
student: 122
(2, 4, 122, 1, 119.13333333333334, 0, 0, 0)
student: 123
(2, 4, 123, 0, 29.383333333333326, 1, 1, 90)
student: 124
(2, 4, 124, 0, 55.650000000000006, 1, 1, 64)
student: 125
(2, 4, 125, 0, 29.849999999999994, 1, 1, 90)
student: 126
(2, 4, 126, 0, 69.85, 1, 1, 50)
student: 127
(2, 4, 127, 0, 74.26666666666667, 1, 1, 45)
student: 128
(2, 4, 128, 0, 74.55, 1, 1, 45)

In [18]:
os.system(f'mv "{input_file}" "/home/kali/project/processed/"')

0